---
Checks: 'boost-*,
         bugprone-*,
         cert-*,
         clang-analyzer-*,
         concurrency-*,
		 cppcoreguidelines-avoid-goto,
		 cppcoreguidelines-interfaces-global-init,
		 cppcoreguidelines-narrowing-conversions,
		 cppcoreguidelines-pro-type-const-cast,
		 cppcoreguidelines-pro-type-cstyle-cast,
		 cppcoreguidelines-pro-type-static-cast-downcast,
		 cppcoreguidelines-special-member-functions,
		 cppcoreguidelines-virtual-class-destructor,
         google-*,
         hicpp-*,
         llvm-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
		 -bugprone-easily-swappable-parameters,
		 -cert-dcl21-cpp,
         -cert-err58-cpp,
		 -google-default-arguments,
         -google-readability-namespace-comments,
		 -google-readability-todo,
         -hicpp-avoid-c-arrays,
		 -hicpp-no-array-decay,
		 -hicpp-signed-bitwise,
         -hicpp-uppercase-literal-suffix,
         -llvm-include-order,
         -llvm-header-guard,
         -misc-no-recursion,
         -modernize-avoid-c-arrays,
		 -modernize-use-default-member-init,
         -modernize-use-trailing-return-type,
         -modernize-use-nodiscard,
         -readability-avoid-const-params-in-decls,
         -readability-else-after-return,
         -readability-magic-numbers,
		 -readability-redundant-member-init,
		 -readability-simplify-boolean-expr,
		 -readability-static-accessed-through-instance,
         -readability-uppercase-literal-suffix,
         -readability-use-anyofallof'
WarningsAsErrors: ''
HeaderFilterRegex: '.hpp'
AnalyzeTemporaryDtors: false
FormatStyle: none
UseColor: false
...

