.vs/
.vscode/
!.vscode/launch.json

build/
debug/
release/
third_party/fetched

docs/
!docs/custom.css

imgui.ini

**/version.hpp

**/*.spv
**/*.vert.d
**/*.frag.d

**/*.ilk
**/*.pdb
**/*.exe.manifest
**/*.exe

